<!-- <app-admin-sidebar/>

<div class="wrapper d-flex flex-column min-vh-100">
 <app-admin-navbar/>
  <div class="body flex-grow-1">
    <c-container class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>
</div> -->


<!-- <link rel="stylesheet" href="/assets/css/demo.css"> -->
<app-admin-sidebar/>
<div class="sidenav fixed-start bg-gray-100">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div> <app-admin-navbar/></div>
        <router-outlet></router-outlet>
        <!-- <notifier-container></notifier-container> -->
    </main>
</div>
<div class="layout-overlay"></div>