tr {
    vertical-align: middle;
}

table {
    table-layout: fixed;
}

table thead th {
    position: sticky;
}

table tbody th {
    position: relative;
}

.attendance-list-main-table table thead th:first-child,
.attendance-list-main-table table td:first-child {
    min-width: 350px !important;
    position: sticky;
    background-color: #fff;
    left: 0;
    z-index: 999;
    text-align: left !important;
}

.attendance-list-main-table table tbody td {
    text-align: center;
}


tr.holiday-highlight td {
    color: #68645a !important;
    
}

tr.holiday-highlight {
    background: #6666664d !important;
}

tr.leave-highlight td {
    color: red !important;
}

/* Add this CSS to your styles */
.orange-background {
    background-color: rgba(252, 186, 63, 0.8);
}